<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" id = "html" th:attr = "theme = ${theme}">
    <head>
        <title>405</title>
        <meta charset = "utf-8" />
        <link rel = "stylesheet" th:href = "@{/css/assets/bootstrap.min.css}" />
        <link rel = "stylesheet" th:href = "@{/css/animations.css}" />
        <link rel = "stylesheet" th:href = "@{/css/colors.css}" />
        <link rel = "stylesheet" th:href = "@{/css/dimensions.css}" />
        <link rel = "stylesheet" th:href = "@{/css/fonts.css}" />
        <link rel = "stylesheet" th:href = "@{/css/layout.css}" />
        <link rel = "stylesheet" th:href = "@{/css/shadows.css}" />
        <link rel = "stylesheet" th:href = "@{/css/themes.css}" />
        <script type = "text/javascript" th:src = "@{/js/assets/three.min.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/assets/vanta.min.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/background.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/globals.js}"></script>
        <script type = "text/javascript" th:inline = "javascript"> globalsInitialization(); </script>
    </head>
    <body id = "background">
        <script type = "text/javascript" th:inline = "javascript"> backgroundInitialization(); </script>
        <div class = "container error">
            <img class = "error-gif" th:src = @{/img/error/405.gif} />
            <div class = "error-div">
                <div class = "error-code">405</div>
                <div class = "error-title">How to say it...</div>
                <div class = "error-description">
                    <div>This type of method is not allowed here.</div>
                    <div>Do not try to shove a square into a round hole.</div>
                </div>
                <div class = "error-advice error-404">You're drunk, <a href = "/">go home</a></div>
            </div>
        </div>
    </body>
</html>