/*
    Animations file
    Used for define animations of project

    Every entry must follow convention:
    * Entry must begins with "animation" word
    * Further should be followed by animation property name
    * Use dashes to separate words

    By example: --animation-duration-wiggle
*/

:root
{
    /* animation-duration */
    --animation-duration-wiggle: 0.6s;
}

@keyframes wiggle
{
    0%
    {
        top: 0rem;
    }
    50%
    {
        top: -2rem;
    }
    100%
    {
        top: 0rem;
    }
}