/*
    Dimensions file
    Used for define dimensions of project

    Every category must follow convention:
    * Category must contain only css property name

    Every entry must follow convention:
    * Must begins with category name
    * Further should be followed by tag/class/id/etc.

    By example: --height-body
*/

:root
{
    /* top */
    --top-header: 1.500rem;
    --top-label-hw-info: 0.562rem;
    --top-card-body-squares-grid: 0.813rem;
    --top-info-label: 4.188rem;
    --top-inner-dot: 0.375rem;
    --top-detailed-hw-info-div: 1.168rem;
    --top-dashboard-logo: 2.188rem;
    --top-dashboard-logo-description: 5.300rem;
    --top-uptime-rectangle-grid: 1.925rem;
    --top-chart-label: 1.500rem;
    --top-chart-triangle-grid: 0.500rem;
    --top-chart-rectangle-grid: 1.906rem;
    --top-chart-container: 3.375rem;
    --top-error-code: 1.813rem;
    --top-error-title: 3.500rem;
    --top-error-description: 6.688rem;

    /* bottom */
    --bottom-usage: 4.625rem;
    --bottom-hw-usage-div: 0.250rem;
    --bottom-card-footer-dots-grid-div: -0.750rem;
    --bottom-uptime-squares-grid:  0.813rem;
    --bottom-values-grid-div-p: 0.250rem;
    --bottom-error-div: 7.500rem;
    --bottom-error-advice: 0.563rem;

    /* left */
    --left-header: 1.500rem;
    --left-label-hw-info: 4.375rem;
    --left-usage: 1.500rem;
    --left-first-dot: 2.906rem;
    --left-second-dot: 10.187rem;
    --left-third-dot: 17.468rem;
    --left-inner-dot: 0.375rem;
    --left-first-label: 0.822rem;
    --left-second-label: 8.104rem;
    --left-third-label: 15.385rem;
    --left-first-divider: 7.313rem;
    --left-second-divider: 14.563rem;
    --left-uptime-squares-grid: 9.250rem;
    --left-uptime-rectangle-grid: 2.781rem;
    --left-chart-label: 1.500rem;
    --left-first-triangle: 34.375rem;
    --left-second-triangle: 38.250rem;
    --left-third-triangle: 42.125rem;
    --left-first-rectangle: 33.250rem;
    --left-second-rectangle: 37.125rem;
    --left-third-rectangle: 41.000rem;
    --left-chart-container: 1.500rem;
    --left-error-div: 13.250rem;
    --left-error-code: 1.813rem;
    --left-error-title: 1.813rem;
    --left-error-description: 1.813rem;
    --left-error-404: 8.563rem;
    --left-error-500: 8.281rem;

    /* margin-right */
    --margin-right-usage-value: 2.937rem;
    --margin-right-uptime-squares-grid-div: 0.488rem;
    --margin-right-values-grid-div: 0.125rem;
    --margin-right-labels-grid-div: 0.125rem;

    /* margin-bottom */
    --margin-bottom-card: 1.875rem;
    --margin-bottom-card-body-squares-grid-div: 0.750rem;
    --margin-bottom-labels-grid-div: 0.313rem;

    /* height */
    --height-body: 100%;
    --height-index-xl: 35.031rem;
    --height-index-lg: 53.438rem;
    --height-hw-logo: 3.750rem;
    --height-usage: 5.313rem;
    --height-card-body-squares-grid-div: 0.625rem;
    --height-main-hw-info: 100%;
    --height-usage-value-span: 5.800rem;
    --height-underline: 0.313rem;
    --height-footer: 3.125rem;
    --height-card-footer-dots-grid-div: 1.500rem;
    --height-inner-dot: 0.750rem;
    --height-detailed-hw-info-div: 1.063rem;
    --height-dividers-div: 3.125rem;
    --height-dashboard-logo-background: 8.281rem;
    --height-uptime: 8.281rem;
    --height-uptime-squares-grid-div: 0.625rem;
    --height-values-grid-div: 3.188rem;
    --height-labels-grid-div: 0.813rem;
    --height-chart-rectangle-grid-div: 0.625rem;
    --height-chart-container: 11.688rem;
    --height-error: 25.75rem;
    --height-error-gif: 19.313rem;
    --height-error-div: 12.125rem;

    /* min-height */
    --min-height-card: 16.562rem;

    /* width */
    --width-body: 100%;
    --width-hw-logo: 3.750rem;
    --width-usage: 18.875rem;
    --width-card-body-squares-grid-div: 0.625rem;
    --width-usage-value-span: 2.224rem;
    --width-info-label: 9.500rem;
    --width-underline: 9.500rem;
    --width-footer: 100%;
    --width-card-footer-dots-grid-div: 1.500rem;
    --width-inner-dot: 0.750rem;
    --width-detailed-hw-info-div: 5.625rem;
    --width-dividers-div: 0.063rem;
    --width-dashboard-logo: 21.875rem;
    --width-dashboard-logo-description: 21.875rem;
    --width-dashboard-logo-background: 21.875rem;
    --width-uptime: 100%;
    --width-uptime-squares-grid-div: 0.625rem;
    --width-values-grid-div: 3.750rem;
    --width-labels-grid-div: 3.750rem;
    --width-chart-rectangle-grid-div: 3.125rem;
    --width-chart-container: 42.625rem;
    --width-error-gif: 19.313rem;
    --width-error-div: 23.875rem;

    /* max-width */
    --max-width-index-xl: 71.250rem;
    --max-width-index-lg: 47.500rem;
    --max-width-col-lg-6-col-xl-4: 23.750rem;
    --max-width-col-lg-12.col-xl-8: 47.500rem;

    /* min-width */
    --min-width-index-xl: 71.250rem;
    --min-width-index-lg: 47.500rem;
    --min-width-error-xl: 71.250rem;

    /* border */
    --border-chart-container: 0.063rem;

    /* border-width */
    --border-width-chart-triangle-grid-div: 0.438rem 0.438rem 0.000rem 0.438rem;

    /* border-radius */
    --border-radius-card: 1.250rem;
    --border-radius-hw-logo: 50%;
    --border-radius-card-footer-dots-grid-div: 50%;
    --border-radius-inner-dot: 50%;
    --border-radius-error-gif: 50%;
    --border-radius-error-div: 1.250rem;

    /* letter-spacing */
    --letter-spacing-10px: 0.625rem;
    --letter-spacing-2px: 0.125rem;

    /* transition */
    --transition-chart-rectangle-grid-div: transform 0.07s, background-color 0.2s;

    /* transform */
    --transform-chart-rectangle-grid-div-active: scale(0.9);
}