/*
    Dimensions file
    Used for define dimensions of project

    Every category must follow convention:
    * Category must contain only css property name

    Every entry must follow convention:
    * Must begins with category name
    * Further should be followed by tag/class/id/etc.

    By example: --height-body
*/

:root
{
    /* top */
    --top-logo: 2.188rem;
    --top-logo-description: 5.300rem;
    --top-cloud-left: 2.875rem;
    --top-cloud-right: 2.875rem;
    --top-form-field-div: 0.313rem;
    --top-form-field-input: 0.125rem;
    --top-label-additional-settings: 1.500rem;
    --top-additional-settings-input: 1.938rem;
    --top-button-squares-grid: 0.222rem;
    --top-port-text-field: 2.750rem;
    --top-header: 1.500rem;
    --top-label-hw-info: 0.562rem;
    --top-card-body-squares-grid: 0.813rem;
    --top-info-label: 4.188rem;
    --top-inner-dot: 0.375rem;
    --top-detailed-hw-info-div: 1.168rem;
    --top-controls-div: 0.750rem;
    --top-controls-div-before: 1.250rem;
    --top-uptime-rectangle-grid: 1.925rem;
    --top-chart-label: 1.500rem;
    --top-chart-triangle-grid: 0.500rem;
    --top-chart-rectangle-grid: 1.906rem;
    --top-chart-container: 3.375rem;
    --top-error-code: 1.813rem;
    --top-error-title: 3.500rem;
    --top-error-description: 6.688rem;

    /* bottom */
    --bottom-form-squares-grid:  0.813rem;
    --bottom-submit-button: 1.125rem;
    --bottom-usage: 4.625rem;
    --bottom-hw-usage-div: 0.250rem;
    --bottom-card-footer-dots-grid-div: -0.750rem;
    --bottom-uptime-squares-grid:  0.813rem;
    --bottom-values-grid-div-p: 0.250rem;
    --bottom-project-version: 1.250rem;
    --bottom-error-div: 7.500rem;
    --bottom-error-advice: 0.563rem;

    /* left */
    --left-cloud-right: 12.875rem;
    --left-form-squares-grid: 9.250rem;
    --left-form-field: 1.500rem;
    --left-button-squares-grid-first: 1.500rem;
    --left-button-squares-grid-second: 19.688rem;
    --left-theme-button-first: 1.500rem;
    --left-port-text-field: 1.500rem;
    --left-submit-button: 6.563rem;
    --left-header: 1.500rem;
    --left-label-hw-info: 4.375rem;
    --left-usage: 1.500rem;
    --left-first-dot: 2.906rem;
    --left-second-dot: 10.187rem;
    --left-third-dot: 17.468rem;
    --left-inner-dot: 0.375rem;
    --left-first-label: 0.822rem;
    --left-second-label: 8.104rem;
    --left-third-label: 15.385rem;
    --left-first-divider: 7.313rem;
    --left-second-divider: 14.563rem;
    --left-controls-first: 0.750rem;
    --left-controls-second: 19.250rem;
    --left-controls-div-before: 0.313rem;
    --left-uptime-squares-grid: 9.250rem;
    --left-uptime-rectangle-grid: 2.781rem;
    --left-chart-label: 1.500rem;
    --left-first-triangle: 34.375rem;
    --left-second-triangle: 38.250rem;
    --left-third-triangle: 42.125rem;
    --left-first-rectangle: 33.250rem;
    --left-second-rectangle: 37.125rem;
    --left-third-rectangle: 41.000rem;
    --left-chart-container: 1.500rem;
    --left-error-div: 13.250rem;
    --left-error-code: 1.813rem;
    --left-error-title: 1.813rem;
    --left-error-description: 1.813rem;
    --left-error-404: 8.563rem;
    --left-error-405: 8.563rem;
    --left-error-500: 8.281rem;

    /* margin-right */
    --margin-right-form-squares-grid-div: 0.488rem;
    --margin-right-theme-button-first: 1.938rem;
    --margin-right-usage-value: 2.937rem;
    --margin-right-uptime-squares-grid-div: 0.488rem;
    --margin-right-values-grid-div: 0.125rem;
    --margin-right-labels-grid-div: 0.125rem;

    /* margin-bottom */
    --margin-bottom-label-main-settings: 0.438rem;
    --margin-bottom-card: 1.875rem;
    --margin-bottom-card-body-squares-grid-div: 0.750rem;
    --margin-bottom-labels-grid-div: 0.313rem;

    /* height */
    --height-body: 100%;
    --height-setup: 26.706rem;
    --height-setup-div: 26.706rem;
    --height-clouds: 8.281rem;
    --height-clouds-img: 5.438rem;
    --height-background: 8.281rem;
    --height-form: 18.425rem;
    --height-form-squares-grid-div: 0.625rem;
    --height-form-field: 1.875rem;
    --height-form-field-div: 0.313rem;
    --height-additional-settings-input: 2.188rem;
    --height-button-squares-grid-div: 0.625rem;;
    --height-port-text-field: 3.125rem;
    --height-port-text-field-input: 3.125rem;
    --height-submit-button: 1.875rem;
    --height-index-xl: 35.031rem;
    --height-index-lg: 53.438rem;
    --height-hw-logo: 3.750rem;
    --height-usage: 5.313rem;
    --height-card-body-squares-grid-div: 0.625rem;
    --height-main-hw-info: 100%;
    --height-usage-value-span: 5.800rem;
    --height-usage-underline: 0.313rem;
    --height-footer: 3.125rem;
    --height-card-footer-dots-grid-div: 1.500rem;
    --height-inner-dot: 0.750rem;
    --height-detailed-hw-info-div: 1.063rem;
    --height-dividers-div: 3.125rem;
    --height-controls: 2.625rem;
    --height-controls-div: 1.875rem;
    --height-uptime: 8.281rem;
    --height-uptime-squares-grid-div: 0.625rem;
    --height-values-grid-div: 3.188rem;
    --height-labels-grid-div: 0.813rem;
    --height-chart-rectangle-grid-div: 0.625rem;
    --height-chart-container: 11.688rem;
    --height-error: 25.750rem;
    --height-error-gif: 19.313rem;
    --height-error-div: 12.125rem;

    /* min-height */
    --min-height-card: 16.562rem;

    /* width */
    --width-body: 100%;
    --width-setup-div: 21.875rem;
    --width-logo: 21.875rem;
    --width-logo-description: 21.875rem;
    --width-clouds: 21.875rem;
    --width-clouds-img: 4.375rem;
    --width-background: 21.875rem;
    --width-form: 21.875rem;
    --width-form-squares-grid-div: 0.625rem;
    --width-form-field: 18.875rem;
    --width-form-field-div: 18.875rem;
    --width-form-field-input: 18.875rem;
    --width-additional-settings-input: 9.063rem;
    --width-button-squares-grid-div: 0.625rem;
    --width-port-text-field: 18.875rem;
    --width-port-text-field-input: 20.125rem;
    --width-submit-button: 8.750rem;
    --width-hw-logo: 3.750rem;
    --width-usage: 18.875rem;
    --width-card-body-squares-grid-div: 0.625rem;
    --width-usage-value-span: 2.224rem;
    --width-info-label: 9.500rem;
    --width-usage-underline: 9.500rem;
    --width-footer: 100%;
    --width-card-footer-dots-grid-div: 1.500rem;
    --width-inner-dot: 0.750rem;
    --width-detailed-hw-info-div: 5.625rem;
    --width-dividers-div: 0.063rem;
    --width-controls: 100%;
    --width-controls-div: 1.875rem;
    --width-uptime: 100%;
    --width-uptime-squares-grid-div: 0.625rem;
    --width-values-grid-div: 3.750rem;
    --width-labels-grid-div: 3.750rem;
    --width-chart-rectangle-grid-div: 3.125rem;
    --width-chart-container: 42.625rem;
    --width-error-gif: 19.313rem;
    --width-error-div: 23.875rem;

    /* max-width */
    --max-width-setup: 71.250rem;
    --max-width-index-xl: 71.250rem;
    --max-width-index-lg: 47.500rem;
    --max-width-col-lg-6-col-xl-4: 23.750rem;
    --max-width-col-lg-12.col-xl-8: 47.500rem;

    /* min-width */
    --min-width-setup: 71.250rem;
    --min-width-index-xl: 71.250rem;
    --min-width-index-lg: 47.500rem;
    --min-width-error: 71.250rem;

    /* border */
    --border-chart-container: 0.063rem;

    /* border-width */
    --border-width-controls-first-before: 0.638rem 0.638rem 0.000rem 0.638rem;
    --border-width-controls-second-before: 0.638rem 0.638rem 0.000rem 0.638rem;
    --border-width-chart-triangle-grid-div: 0.438rem 0.438rem 0.000rem 0.438rem;

    /* border-radius */
    --border-radius-setup-div: 1.250rem;
    --border-radius-port-text-field: 0.000rem 0.000rem 0.625rem 0.625rem;
    --border-radius-card: 1.250rem;
    --border-radius-hw-logo: 50%;
    --border-radius-card-footer-dots-grid-div: 50%;
    --border-radius-inner-dot: 50%;
    --border-radius-error-gif: 50%;
    --border-radius-controls-div: 50%;
    --border-radius-error-div: 1.250rem;

    /* letter-spacing */
    --letter-spacing-10px: 0.625rem;
    --letter-spacing-2px: 0.125rem;

    /* transition */
    --transition-theme-button: transform 0.07s;
    --transition-submit-button: transform 0.07s;
    --transition-all: color 0.2s, background 0.2s, flex 0.2s;
    --transition-chart-rectangle-grid-div: transform 0.07s;

    /* transform */
    --transform-theme-button-div-active: scale(0.9);
    --transform-submit-button: scale(0.9);
    --transform-controls-first: rotate(90deg);
    --transform-controls-second: rotate(-90deg);
    --transform-chart-rectangle-grid-div-active: scale(0.9);
}