/*
    Fonts file
    Used for define fonts of project

    Every entry must follow convention:
    * Entry must begins with "font" word
    * Further should be followed by font property name
    * Use dashes to separate words

    By example: --font-weight-regular
*/

:root
{
    /* font-family */
    --font-family-roboto: roboto;

    /* font-size */
    --font-size-9pt: 0.563em;
    --font-size-12pt: 0.75em;
    --font-size-14pt: 0.875em;
    --font-size-18pt: 1.125em;
    --font-size-42pt: 2.625em;
    --font-size-62pt: 3.875em;

    /* font-weight */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

@font-face
{
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-regular);
    src: url(../fonts/roboto/regular.ttf);
}

@font-face
{
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-bold);
    src: url(../fonts/roboto/bold.ttf);
}