/*
    Layout css file
    New classes, indexes and overrides must be defined here
*/

*
{
    font-family: var(--font-family-roboto);
    transition: var(--transition-all);
}

body
{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--height-body);
    width: var(--width-body);
    background: var(--background-body);
}

.setup
{
    margin-top: calc((100vh / 2) - (var(--height-setup) / 2));
    max-width: var(--max-width-setup);
    min-width: var(--min-width-setup);
}

.setup-div
{
    display: block;
    position: relative;
    margin: auto;
    height: var(--height-setup-div);
    width: var(--width-setup-div);
    background: white;
    border-radius: var(--border-radius-setup-div);
    overflow: hidden;
    box-shadow: var(--box-shadow-setup-div) var(--black-opacity-10);
}

.logo
{
    position: absolute;
    top: var(--top-logo);
    z-index: 1;
    width: var(--width-logo);
    text-align: center;
    letter-spacing: var(--letter-spacing-10px);
    font-size: var(--font-size-42pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-logo);
}

.logo-description
{
    position: absolute;
    top: var(--top-logo-description);
    z-index: 1;
    width: var(--width-logo-description);
    text-align: center;
    letter-spacing: var(--letter-spacing-2px);
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-logo-description);
}

.clouds
{
    height: var(--height-clouds);
    width: var(--width-clouds);
    overflow: hidden;
}

.clouds > img
{
    position: relative;
    z-index: 1;
    height: var(--height-clouds-img);
    width: var(--width-clouds-img);
}

.clouds > .first
{
    top: var(--top-clouds-first);
}

.clouds > .second
{
    top: var(--top-clouds-second);
    left: var(--left-clouds-second);
}

.background
{
    position: absolute;
    top: 0;
    height: var(--height-background);
    width: var(--width-background);
}

.form
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--height-form);
    width: var(--width-form);
    background: var(--background-form);
}

.form-squares-grid
{
    position: relative;
    bottom: var(--bottom-form-squares-grid);
    left: var(--left-form-squares-grid);
}

.form-squares-grid > div
{
    display: inline-block;
    margin-right: var(--margin-right-form-squares-grid-div);
    height: var(--height-form-squares-grid-div);
    width: var(--width-form-squares-grid-div);
    box-shadow: var(--box-shadow-form-squares-grid-div) var(--black-opacity-10);
}

.form-squares-grid > .first
{
    background: var(--background-form-squares-grid-first);
}

.form-squares-grid > .second
{
    background: var(--background-form-squares-grid-second);
    transform: var(--transform-form-squares-grid-second);
}

.form-squares-grid > .third
{
    background: var(--background-form-squares-grid-third);
}

.label-main-settings
{
    position: relative;
    margin-bottom: var(--margin-bottom-label-main-settings);
    text-align: center;
    letter-spacing: var(--letter-spacing-2px);
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-label-main-settings);
}

.form-field
{
   position: relative;
   left: var(--left-form-field);
   height: var(--height-form-field);
   width: var(--width-form-field);
   background: var(--background-form-field);
}

.form-field > div
{
   position: relative;
   top: var(--top-form-field-div);
   height: var(--height-form-field-div);
   width: var(--width-form-field-div);
   box-shadow: var(--box-shadow-form-field-div) var(--black-opacity-10);
}

.form-field > input
{
    position: relative;
    top: var(--top-form-field-input);
    width: var(--width-form-field-input);
    text-align: center;
    font-size: var(--font-size-14pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-form-field-input);
    background: var(--background-form-field-input);
    border: 0;
    outline: none;
}

.form-field > input::placeholder
{
    color: var(--color-form-field-input-placeholder);
}

.form-field > input::-webkit-input-placeholder
{
    color: var(--color-form-field-input-placeholder);
}

.form-field-underline
{
    background: var(--background-form-field-underline);
}

.label-additional-settings
{
    position: relative;
    top: var(--top-label-additional-settings);
    text-align: center;
    letter-spacing: var(--letter-spacing-2px);
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-label-additional-settings);
}

.additional-settings > input
{
    position: relative;
    top: var(--top-additional-settings-input);
    height: var(--height-additional-settings-input);
    width: var(--width-additional-settings-input);
}

.button-squares-grid
{
    position: relative;
    top: var(--top-button-squares-grid);
}

.button-squares-grid > div
{
    position: absolute;
    display: inline-block;
    height: var(--height-button-squares-grid-div);
    width: var(--width-button-squares-grid-div);
    opacity: 0;
    box-shadow: var(--box-shadow-button-squares-grid-div) var(--black-opacity-10);
}

.button-squares-grid > .first
{
    left: var(--left-button-squares-grid-first);
    background: var(--background-button-squares-grid-first);
    animation: fade-in-square 0.5s forwards;
}

.button-squares-grid > .second
{
    left: var(--left-button-squares-grid-second);
    visibility: hidden;
    background: var(--background-button-squares-grid-second);
}

.theme-button
{
    letter-spacing: var(--letter-spacing-2px);
    font-size: var(--font-size-14pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-button);
    border: 0;
    outline: none;
    box-shadow: var(--box-shadow-theme-button) var(--black-opacity-10);
}

.theme-button.first
{
    left: var(--left-theme-button-first);
    margin-right: var(--margin-right-theme-button-first);
    background: var(--background-theme-button-first);
}

.theme-button.second
{
    background: var(--background-theme-button-second);
}

.theme-button:active
{
    transform: var(--transform-theme-button-div-active);
}

.port-text-field
{
    position: relative;
    top: var(--top-port-text-field);
    left: var(--left-port-text-field);
    height: var(--height-port-text-field);
    width: var(--width-port-text-field);
    overflow: hidden;
    border-radius: var(--border-radius-port-text-field);
    outline: none;
}

.port-text-field > input
{
    height: var(--height-port-text-field-input);
    width: var(--width-port-text-field-input);
    text-align: center;
    font-size: var(--font-size-14pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-form-field-input);
    background: var(--background-port-text-field-input);
    border: 0;
    outline: none;
}

.port-text-field > input::placeholder
{
    color: var(--color-port-text-field-input-placeholder);
}

.port-text-field > input::-webkit-input-placeholder
{
    color: var(--color-port-text-field-input-placeholder);
}

.submit-button
{
    position: absolute;
    bottom: var(--bottom-submit-button);
    left: var(--left-submit-button);
    height: var(--height-submit-button);
    width: var(--width-submit-button);
    letter-spacing: var(--letter-spacing-2px);
    font-size: var(--font-size-14pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-submit-button);
    background: var(--background-submit-button);
    border: 0;
    border-radius: 0.625rem;
    outline: none;
    box-shadow: var(--box-shadow-submit-button) var(--black-opacity-10);
}

.submit-button:active
{
    transform: var(--transform-submit-button-active);
}

.index
{
    margin-top: calc((100vh / 2) - (var(--height-index-xl) / 2));
    max-width: var(--max-width-index-xl);
    min-width: var(--min-width-index-xl);
}

@media only screen and (max-width: 74.938rem)
{
    .container.index
    {
        margin-top: calc((100vh / 2) - (var(--height-index-lg) / 2));
        max-width: var(--max-width-index-lg);
        min-width: var(--min-width-index-lg);
    }
}

.col-sm-6.col-md-6.col-lg-6.col-xl-4
{
   max-width: var(--max-width-col-lg-6-col-xl-4);
}

.col-sm-12.col-md-12.col-lg-12.col-xl-8
{
    max-width: var(--max-width-col-lg-12.col-xl-8);
}

.card
{
    margin-bottom: var(--margin-bottom-card);
    min-height: var(--min-height-card);
    border: none;
    border-radius: var(--border-radius-card);
    overflow: hidden;
    background: var(--background-card);
    box-shadow: var(--box-shadow-card) var(--black-opacity-10);
}

.header
{
    position: relative;
    display: flex;
    top: var(--top-header);
    left: var(--left-header);
}

.hw-logo
{
    height: var(--height-hw-logo);
    width: var(--width-hw-logo);
    border-radius: var(--border-radius-hw-logo);
}

.hw-logo.first
{
    background: var(--background-hw-logo-first);
}

.hw-logo.second
{
    background: var(--background-hw-logo-second);
}

.hw-logo.third
{
    background: var(--background-hw-logo-third);
}

.label-hw-info
{
    position: absolute;
    top: var(--top-label-hw-info);
    left: var(--left-label-hw-info);
}

.hw-type
{
    font-size: var(--font-size-18pt);
    font-weight: var(--font-weight-bold);
    color: var(--color-hw-type);
}

.hw-name
{
    font-size: var(--font-size-12pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-hw-name);
}

.usage
{
    position: absolute;
    height: var(--height-usage);
    width: var(--width-usage);
    bottom: var(--bottom-usage);
    left: var(--left-usage);
}

.card-body-squares-grid
{
    position: absolute;
    top: var(--top-card-body-squares-grid);
}

.card-body-squares-grid > div
{
    margin-bottom: var(--margin-bottom-card-body-squares-grid-div);
    height: var(--height-card-body-squares-grid-div);
    width: var(--width-card-body-squares-grid-div);
}

.card-body-squares-grid.first > div
{
    background: var(--background-card-body-squares-grid-first-div);
}

.card-body-squares-grid.second > div
{
    background: var(--background-card-body-squares-grid-second-div);
}

.card-body-squares-grid.third > div
{
    background: var(--background-card-body-squares-grid-third-div);
}

.main-hw-info
{
    position: absolute;
    right: 0;
    height: var(--height-main-hw-info);
}

.hw-usage > div
{
    position: absolute;
    right: 0;
    bottom: var(--bottom-hw-usage-div);
    font-size: var(--font-size-62pt);
    font-weight: var(--font-weight-bold);
}

.usage-value
{
    display: flex;
    margin-right: var(--margin-right-usage-value);
}

.usage-value > span
{
    position: relative;
    height: var(--height-usage-value-span);
    width: var(--width-usage-value-span);
    color: var(--color-usage-value-span);
    animation-duration: var(--animation-duration-wiggle-span);
}

.first-span
{
    animation: wiggle-span;
    animation-delay: var(--animation-delay-first-span);
}

.second-span
{
    animation: wiggle-span;
    animation-delay: var(--animation-delay-second-span);
}

.third-span
{
    animation: wiggle-span;
    animation-delay: var(--animation-delay-third-span)
}

.usage-postfix
{
    color: var(--color-usage-postfix);
}

.info-label
{
    position: relative;
    top: var(--top-info-label);
    width: var(--width-info-label);
    text-align: center;
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-info-label);
    background: transparent;
}

.usage-underline
{
    position: absolute;
    right: 0;
    bottom: 0;
    height: var(--height-usage-underline);
    width: var(--width-usage-underline);
}

.usage-underline.first
{
    background: var(--background-usage-underline-first);
}

.usage-underline.second
{
    background: var(--background-usage-underline-second);
}

.usage-underline.third
{
    background: var(--background-usage-underline-third);
}

.footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--height-footer);
    width: var(--width-footer);
}

.footer.first
{
    background: var(--background-footer-first);
}

.footer.first > .card-footer-dots-grid > div > .inner-dot
{
    background: var(--background-footer-first-card-footer-dots-grid-div-inner-dot);
}

.footer.second
{
    background: var(--background-footer-second);
}

.footer.second > .card-footer-dots-grid > div > .inner-dot
{
    background: var(--background-footer-second-card-footer-dots-grid-div-inner-dot);
}

.footer.third
{
    background: var(--background-footer-third);
}

.footer.third > .card-footer-dots-grid > div > .inner-dot
{
    background: var(--background-footer-third-card-footer-dots-grid-div-inner-dot);
}

.card-footer-dots-grid
{
    position: absolute;
}

.card-footer-dots-grid > div
{
    display: inline-block;
    position: absolute;
    bottom: var(--bottom-card-footer-dots-grid-div);
    height: var(--height-card-footer-dots-grid-div);
    width: var(--width-card-footer-dots-grid-div);
    border-radius: var(--border-radius-card-footer-dots-grid-div);
    background: var(--background-card-footer-dots-grid-div);
}

.first-dot
{
    left: var(--left-first-dot);
}

.second-dot
{
    left: var(--left-second-dot);
}

.third-dot
{
    left: var(--left-third-dot);
}

.inner-dot
{
    position: absolute;
    top: var(--top-inner-dot);
    left: var(--left-inner-dot);
    height: var(--height-inner-dot);
    width: var(--width-inner-dot);
    border-radius: var(--border-radius-inner-dot);
}

.detailed-hw-info
{
    position: absolute;
}

.detailed-hw-info > div
{
    display: inline-block;
    position: absolute;
    top: var(--top-detailed-hw-info-div);
    height: var(--height-detailed-hw-info-div);
    width: var(--width-detailed-hw-info-div);
    text-align: center;
    font-size: var(--font-size-14pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-detailed-hw-info-div);
}

.first-label
{
    left: var(--left-first-label);
}

.second-label
{
    left: var(--left-second-label);
}

.third-label
{
    left: var(--left-third-label);
}

.dividers
{
    position: absolute;
}

.dividers > div
{
    display: inline-block;
    position: absolute;
    height: var(--height-dividers-div);
    width: var(--width-dividers-div);
    background: var(--background-dividers-div);
}

.first-divider
{
    left: var(--left-first-divider);
}

.second-divider
{
    left: var(--left-second-divider);
}

.controls
{
    position: absolute;
    height: var(--height-controls);
    width: var(--width-controls);
}

.controls > div
{
    position: absolute;
    top: var(--top-controls-div);
    z-index: 1;
    height: var(--height-controls-div);
    width: var(--width-controls-div);
    border-radius: var(--border-radius-controls-div);
    background: var(--background-controls-div);
}

.controls > .first
{
    left: var(--left-controls-first);
    transform: var(--transform-controls-first);
    animation: wiggle-first-control;
    animation-duration: var(--animation-duration-wiggle-first-control);
}

.controls > .second
{
    left: var(--left-controls-second);
    transform: var(--transform-controls-second);
    animation: wiggle-second-control;
    animation-duration: var(--animation-duration-wiggle-second-control);
}

.controls > div::before
{
    position: relative;
    top: var(--top-controls-div-before);
    left: var(--left-controls-div-before);
    content: "";
    border-style: solid;
    border-color: var(--background-controls-div-before) transparent;
}

.controls > .first::before
{
    border-width: var(--border-width-controls-first-before);
}

.controls > .second::before
{
    border-width: var(--border-width-controls-second-before);
}

.controls > div:active
{
    transform: var(--transform-controls-div-active);
}

.pages
{
    position: absolute;
}

.pages > first
{
    visibility: hidden;
}

.pages > second
{
    visibility: visible;
}

.pages > third
{
    visibility: hidden;
}

.uptime
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--height-uptime);
    width: var(--width-uptime);
    background: var(--background-uptime);
}

.uptime-squares-grid
{
    position: relative;
    bottom: var(--bottom-uptime-squares-grid);
    left: var(--left-uptime-squares-grid);
}

.uptime-squares-grid > div
{
    display: inline-block;
    margin-right: var(--margin-right-uptime-squares-grid-div);
    height: var(--height-uptime-squares-grid-div);
    width: var(--width-uptime-squares-grid-div);
    box-shadow: var(--box-shadow-uptime-squares-grid-div) var(--black-opacity-10);
}

.uptime-squares-grid > .first
{
    background: var(--background-uptime-squares-grid-first);
}

.uptime-squares-grid > .second
{
    background: var(--background-uptime-squares-grid-second);
    transform: var(--transform-uptime-squares-grid-second);
}

.uptime-squares-grid > .third
{
    background: var(--background-uptime-squares-grid-third);
}

.uptime-rectangle-grid
{
    position: absolute;
    top: var(--top-uptime-rectangle-grid);
    left: var(--left-uptime-rectangle-grid);
}

.values-grid > div
{
    display: inline-block;
    margin-right: var(--margin-right-values-grid-div);
    height: var(--height-values-grid-div);
    width: var(--width-values-grid-div);
    text-align: center;
    font-size: var(--font-size-42pt);
    font-weight: var(--font-weight-bold);
    color: var(--color-values-grid-div);
    background: var(--background-values-grid-div);
}

.values-grid > div > p
{
    position: relative;
    bottom: var(--bottom-values-grid-div-p);
}

.labels-grid > div
{
    display: inline-block;
    margin-right: var(--margin-right-labels-grid-div);
    margin-bottom: var(--margin-bottom-labels-grid-div);
    height: var(--height-labels-grid-div);
    width: var(--width-labels-grid-div);
    text-align: center;
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weigth-regular);
    color: var(--color-labels-grid-div);
    background: var(--background-labels-grid-div);
}

.chart-label
{
    position: absolute;
    top: var(--top-chart-label);
    left: var(--left-chart-label);
    font-size: var(--font-size-18pt);
    font-weight: var(--font-weight-bold);
    color: var(--color-chart-label);
}

.chart-triangle-grid
{
    position: absolute;
    top: var(--top-chart-triangle-grid);
}

.chart-triangle-grid > div
{
    position: absolute;
    border-style: solid;
    border-width: var(--border-width-chart-triangle-grid-div);
    opacity: 0;
    animation: fade-in-triangle;
    animation-duration: var(--animation-duration-fade-in-triangle);
    animation-delay: var(--animation-delay-chart-triangle-grid-div);
    animation-fill-mode: forwards;
}

.first-triangle
{
    left: var(--left-first-triangle);
    border-color: var(--border-color-first-triangle) transparent;
}

.second-triangle
{
    left: var(--left-second-triangle);
    border-color: var(--border-color-second-triangle) transparent;
}

.third-triangle
{
    left: var(--left-third-triangle);
    border-color: var(--border-color-third-triangle) transparent;
}

.chart-rectangle-grid
{
    position: absolute;
    top: var(--top-chart-rectangle-grid);
}

.chart-rectangle-grid > div
{
    display: inline-block;
    position: absolute;
    height: var(--height-chart-rectangle-grid-div);
    width: var(--width-chart-rectangle-grid-div);
    cursor: pointer;
}

.first-rectangle
{
    left: var(--left-first-rectangle);
    background: var(--background-first-rectangle);
}


.second-rectangle
{
    left: var(--left-second-rectangle);
    background: var(--background-second-rectangle);
}

.third-rectangle
{
    left: var(--left-third-rectangle);
    background: var(--background-third-rectangle);
}

.chart-rectangle-grid > div:active
{
    transform: var(--transform-chart-rectangle-grid-div-active);
}

.chart-container
{
    position: absolute;
    top: var(--top-chart-container);
    left: var(--left-chart-container);
    height: var(--height-chart-container);
    width: var(--width-chart-container);
    overflow: hidden;
    border: var(--border-chart-container) solid var(--grey-light);
}

.project-version
{
    position: relative;
    bottom: var(--bottom-project-version);
    font-size: var(--font-size-12pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-project-version);
}

.error
{
    margin-top: calc((100vh / 2) - (var(--height-error) / 2));
    max-width: var(--min-width-error);
    min-width: var(--min-width-error);
}

.error-gif
{
    display: block;
    position: relative;
    z-index: 1;
    margin: auto;
    height: var(--height-error-gif);
    width: var(--width-error-gif);
    object-fit: cover;
    border-radius: var(--border-radius-error-gif);
    box-shadow: var(--box-shadow-error-gif) var(--black-opacity-10);
}

.error-div
{
    position: relative;
    left: var(--left-error-div);
    z-index: 1;
    height: var(--height-error-div);
    width: var(--width-error-div);
    opacity: 0;
    border-radius: var(--border-radius-error-div);
    background: var(--background-error-div);
    box-shadow: var(--box-shadow-error-div) var(--black-opacity-10);
    animation: fade-in-error-div;
    animation-duration: var(--animation-duration-fade-in-error-div);
    animation-fill-mode: forwards;
}

.error-div > div
{
    position: absolute;
}

.error-code
{
    top: var(--top-error-code);
    left: var(--left-error-code);
    font-size: var(--font-size-21pt);
    font-weight: var(--font-weight-bold);
    color: var(--color-error-code);
}

.error-title
{
    top: var(--top-error-title);
    left: var(--left-error-title);
    font-size: var(--font-size-31pt);
    font-weight: var(--font-weight-bold);
    color: var(--color-error-title);
}

.error-description
{
    top: var(--top-error-description);
    left: var(--left-error-description);
}

.error-description > div
{
    font-size: var(--font-size-13pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-error-description-div);
}

.error-advice
{
    bottom: var(--bottom-error-advice);
    font-size: var(--font-size-11pt);
    font-weight: var(--font-weight-regular);
    color: var(--color-error-advice);
}

.error-404
{
    left: var(--left-error-404);
}

.error-405
{
    left: var(--left-error-405);
}

.error-500
{
    left: var(--left-error-500);
}