/*
    Shadows file
    Used for define shadows of project

    Every category must follow convention:
    * Category must contain only shadow type name

    Every entry must follow convention:
    * Must begins with category name
    * Further should be followed by tag/class/id/etc.

    By example: --box-shadow-card
*/

:root
{
    /* box-shadow */
    --box-shadow-setup-div: 0.000rem 0.313rem 0.625rem 0.000rem;
    --box-shadow-form-squares-grid-div: 0.000rem 0.188rem 0.313rem 0.000rem;
    --box-shadow-main-settings-underline: 0.000rem 0.188rem 0.313rem 0.000rem;
    --box-shadow-button-squares-grid-div: 0.000rem 0.188rem 0.313rem 0.000rem;
    --box-shadow-theme-buttons-input: 0.000rem 0.188rem 0.313rem 0.000rem;
    --box-shadow-submit: 0.000rem 0.188rem 0.313rem 0.000rem;
    --box-shadow-card: 0.000rem 0.313rem 0.625rem 0.000rem;
    --box-shadow-uptime-squares-grid-div: 0.000rem 0.188rem 0.313rem 0.000rem;
    --box-shadow-error-img: 0.000rem 0.188rem 0.313rem 0.000rem;
    --box-shadow-error-div: 0.000rem 0.313rem 0.625rem 0.000rem;
}