/*
    Theme css file.
    Used to override bootstrap classes.

    This is a principal css file of whole project.
    New classes, indexes and overrides must be defined here.
    All entries must be separated by destination.

    By example: layout or utility classes
*/

/* Layout Classes */
*
{
    font-family: var(--font-family-roboto);
}

body
{
    background-color: var(--purple-light);
}

.container
{ 
    margin-top: calc((100vh / 2) - (var(--container-height) / 2));
    min-width: var(--container-min-width);
}

.row > div
{
    margin-bottom: var(--row-div-margin-bottom);
}

.card
{
    min-height: var(--card-min-height);
    border: none;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px var(--black-opacity-10);
}

.header
{
    position: relative;
    display: flex;
    top: var(--card-spacing);
    left: var(--card-spacing);
}

.hw-logo
{
    height: var(--hw-logo-radius);
    width: var(--hw-logo-radius);
    border-radius: 50%;
}

.label-hw-info
{
    position: absolute;
    top: var(--label-hw-info-top-spacing);
    left: calc(var(--label-hw-info-left-spacing) - var(--card-spacing));
}

.hw-type
{
    font-size: var(--font-size-18pt);
    font-weight: var(--font-weight-bold);
    color: var(--black);
}

.hw-name
{
    font-size: var(--font-size-14pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey);
}

.body
{
    position: absolute;
    height: var(--body-height);
    width: var(--body-width);
    bottom: var(--body-bottom-spacing);
    left: var(--card-spacing);
}

.card-body-squares-grid
{
    position: absolute;
    top: var(--card-body-squares-grid-top-spacing);
}

.card-body-squares-grid > div
{
    margin-bottom: var(--card-body-squares-grid-div-margin-bottom);
    height: var(--card-body-squares-grid-div-height);
    width: var(--card-body-squares-grid-div-width);
}

.main-hw-info
{
    position: absolute;
    right: 0;
    height: var(--main-hw-info-height);
}

.hw-utilization-value
{
    position: absolute;
    right: 0;
    bottom: var(--hw-utilization-value-bottom-spacing);
    font-size: var(--font-size-62pt);
    font-weight: var(--font-weight-bold);
    color: var(--black);
}

.info-label
{
    position: relative;
    top: 67px;
    width: var(--underline-width);
    text-align: center;
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey-light);
    background: var(--white-opacity-90);
}

.underline
{
    position: absolute;
    right: 0;
    bottom: 0;
    height: var(--underline-height);
    width: var(--underline-width);
}

.footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--footer-height);
    width: var(--footer-width);
}

.card-footer-dots-grid
{
    position: absolute;
}

.card-footer-dots-grid > div
{
    display: inline-block;
    position: absolute;
    bottom: calc(var(--card-footer-dots-grid-div-bottom-spacing) - var(--footer-height));
    height: var(--card-footer-dots-grid-div-radius);
    width: var(--card-footer-dots-grid-div-radius);
    border-radius: 50%;
    background-color: var(--white);
}

.first-dot
{
    left: var(--first-dot-left-spacing);
}

.second-dot
{
    left: var(--second-dot-left-spacing);
}

.third-dot
{
    left: var(--third-dot-left-spacing);
}

.inner-dot
{
    position: absolute;
    top: var(--inner-dot-spacing);
    left: var(--inner-dot-spacing);
    height: var(--inner-dot-radius);
    width: var(--inner-dot-radius);
    border-radius: 50%;
}

.detailed-hw-info
{
    position: absolute;
}

.detailed-hw-info > div
{
    display: inline-block;
    position: absolute;
    top: calc((var(--footer-height) / 2) - (var(--detailed-hw-info-div-height) / 2.7));
    height: var(--detailed-hw-info-div-height);
    width: var(--detailed-hw-info-div-width);
    text-align: center;
    font-size: var(--font-size-14pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey);
}

.first-label
{
    left: calc(var(--first-label-left-spacing) - (var(--detailed-hw-info-div-width) / 2.7));
}

.second-label
{
    left: calc(var(--second-label-left-spacing) - (var(--detailed-hw-info-div-width) / 2.7));
}

.third-label
{
    left: calc(var(--third-label-left-spacing) - (var(--detailed-hw-info-div-width) / 2.7));
}

.dividers
{
    position: absolute;
}

.dividers > div
{
    display: inline-block;
    position: absolute;
    height: var(--dividers-div-height);
    width: var(--dividers-div-width);
    background-color: var(--white);
}

.first-divider
{
    left: var(--first-divider-left-spacing);
}

.second-divider
{
    left: var(--second-divider-left-spacing);
}

.about
{
    position: absolute;
}

.dashboard-logo
{
    position: absolute;
    top: var(--dashboard-logo-top-spacing);
    z-index: 1;
    width: var(--dashboard-logo-width);
    text-align: center;
    letter-spacing: var(--letter-spacing-10px);
    font-size: var(--font-size-42pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey-light);
}

.dashboard-logo-description
{
    position: absolute;
    top: var(--dashboard-logo-description-top-spacing);
    z-index: 1;
    width: var(--dashboard-logo-description-width);
    text-align: center;
    letter-spacing: var(--letter-spacing-2px);
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey-light);
}

.dashboard-logo-background
{
    position: absolute;
    top: 0;
    height: var(--dashboard-logo-background-height);
    width: var(--dashboard-logo-background-width);
}

.uptime
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--uptime-height);
    width: var(--uptime-width);
    background: linear-gradient(45deg, var(--blue-light) 0%, var(--red-light) 50%, var(--green-light) 100%);
}

.uptime-squares-grid
{
    position: relative;
    bottom: var(--uptime-squares-grid-bottom-spacing);
    left: var(--uptime-squares-grid-left-spacing);
}

.uptime-squares-grid > div
{
    display: inline-block;
    margin-right: var(--uptime-squares-grid-div-margin-right);
    height: var(--uptime-squares-grid-div-height);
    width: var(--uptime-squares-grid-div-width);
    box-shadow: 0px 3px 5px 0px var(--black-opacity-10);
}

.uptime-rectangle-grid
{
    position: absolute;
    top: var(--uptime-rectangle-grid-top-spacing);
    left: var(--uptime-rectangle-grid-left-spacing);
}

.values-grid > div
{
    display: inline-block;
    margin-right: var(--values-grid-div-margin-right);
    height: var(--values-grid-div-height);
    width: var(--values-grid-div-width);
    text-align: center;
    font-size: var(--font-size-42pt);
    font-weight: var(--font-weight-bold);
    color: var(--grey);
    background: var(--white-opacity-70);
}

.values-grid > div > p
{
    position: relative;
    bottom: var(--values-grid-div-p-bottom-spacing);
}

.labels-grid > div
{
    display: inline-block;
    margin-right: var(--labels-grid-div-margin-right);
    margin-bottom: var(--labels-grid-div-margin-bottom);
    height: var(--labels-grid-div-height);
    width: var(--labels-grid-div-width);
    text-align: center;
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weigth-regular);
    color: var(--grey-light);
    background: var(--white-opacity-90);
}

.chart-label
{
    position: absolute;
    top: var(--card-spacing);
    left: var(--card-spacing);
    font-size: var(--font-size-18pt);
    font-weight: var(--font-weight-bold);
    color: var(--black);
}

.chart-rectangle-grid
{
    position: absolute;
    top: var(--chart-rectangle-grid-top-spacing);
}

.chart-rectangle-grid > div
{
    display: inline-block;
    position: absolute;
    height: var(--chart-rectangle-grid-div-height);
    width: var(--chart-rectangle-grid-div-width);
}

.first-rectangle
{
    left: var(--first-rectangle-left-spacing);
}

.second-rectangle
{
    left: var(--second-rectangle-left-spacing);
}

.third-rectangle
{
    left: var(--third-rectangle-left-spacing);
}

.chart-container
{
    position: absolute;
    top: var(--chart-container-top-spacing);
    left: var(--card-spacing);
    height: var(--chart-container-height);
    width: var(--chart-container-width);
    overflow: hidden;
    border: var(--chart-container-border-thickness) solid var(--grey-light);
}

/* Utility Classes */
.blue-light
{
    background-color: var(--blue-light);
}

.blue
{
    background-color: var(--blue);
}

.red-light
{
    background-color: var(--red-light);
}

.red
{
    background-color: var(--red);
}

.green-light
{
    background-color: var(--green-light);
}

.green
{
    background-color: var(--green);
}