/*
    Theme css file
    New classes, indexes and overrides must be defined here

    Every category must follow convention:
    * Category must represent destination i.e layout or utility classes

    By example: Layout classes
*/

/* Layout classes */
*
{
    font-family: var(--font-family-roboto);
}

body
{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--height-body);
    width: var(--width-body);
    background: var(--purple-light);
}

.index
{ 
    margin-top: calc((100vh / 2) - (var(--height-index) / 2));
    min-width: var(--min-width-container);
}

.row > div
{
    margin-bottom: var(--margin-bottom-row-div);
}

.card
{
    min-height: var(--min-height-card);
    border: none;
    border-radius: var(--border-radius-card);
    overflow: hidden;
    box-shadow: var(--box-shadow-card) var(--black-opacity-10);
}

.header
{
    position: relative;
    display: flex;
    top: var(--top-header);
    left: var(--left-header);
}

.hw-logo
{
    height: var(--height-hw-logo);
    width: var(--width-hw-logo);
    border-radius: var(--border-radius-hw-logo);
}

.label-hw-info
{
    position: absolute;
    top: var(--top-label-hw-info);
    left: var(--left-label-hw-info);
}

.hw-type
{
    font-size: var(--font-size-18pt);
    font-weight: var(--font-weight-bold);
    color: var(--black);
}

.hw-name
{
    font-size: var(--font-size-12pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey);
}

.usage
{
    position: absolute;
    height: var(--height-usage);
    width: var(--width-usage);
    bottom: var(--bottom-usage);
    left: var(--left-usage);
}

.card-body-squares-grid
{
    position: absolute;
    top: var(--top-card-body-squares-grid);
}

.card-body-squares-grid > div
{
    margin-bottom: var(--margin-bottom-card-body-squares-grid-div);
    height: var(--height-card-body-squares-grid-div);
    width: var(--width-card-body-squares-grid-div);
}

.main-hw-info
{
    position: absolute;
    right: 0;
    height: var(--height-main-hw-info);
}

.hw-usage > div
{
    position: absolute;
    right: 0;
    bottom: var(--bottom-hw-usage-div);
    font-size: var(--font-size-62pt);
    font-weight: var(--font-weight-bold);
    color: var(--black);
}

.usage-value
{
    display: flex;
    margin-right: var(--margin-right-usage-value);
}

.usage-value > span
{
    position: relative;
    height: var(--height-usage-value-span);
    width: var(--width-usage-value-span);
    color: var(--grey-light);
    animation-duration: var(--animation-duration-wiggle);
}

.first-span
{
    animation: wiggle;
    animation-delay: var(--animation-delay-first-span);
}

.second-span
{
    animation: wiggle;
    animation-delay: var(--animation-delay-second-span);
}

.third-span
{
    animation: wiggle;
    animation-delay: var(--animation-delay-third-span)
}

.usage-postfix
{
    color: var(--black);
}

.info-label
{
    position: relative;
    top: var(--top-info-label);
    width: var(--width-info-label);
    text-align: center;
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey-light);
    background: var(--white-opacity-90);
}

.underline
{
    position: absolute;
    right: 0;
    bottom: 0;
    height: var(--height-underline);
    width: var(--width-underline);
}

.footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--height-footer);
    width: var(--width-footer);
}

.card-footer-dots-grid
{
    position: absolute;
}

.card-footer-dots-grid > div
{
    display: inline-block;
    position: absolute;
    bottom: var(--bottom-card-footer-dots-grid-div);
    height: var(--height-card-footer-dots-grid-div);
    width: var(--width-card-footer-dots-grid-div);
    border-radius: var(--border-radius-card-footer-dots-grid-div);
    background: var(--white);
}

.first-dot
{
    left: var(--left-first-dot);
}

.second-dot
{
    left: var(--left-second-dot);
}

.third-dot
{
    left: var(--left-third-dot);
}

.inner-dot
{
    position: absolute;
    top: var(--top-inner-dot);
    left: var(--left-inner-dot);
    height: var(--height-inner-dot);
    width: var(--width-inner-dot);
    border-radius: var(--border-radius-inner-dot);
}

.detailed-hw-info
{
    position: absolute;
}

.detailed-hw-info > div
{
    display: inline-block;
    position: absolute;
    top: var(--top-detailed-hw-info-div);
    height: var(--height-detailed-hw-info-div);
    width: var(--width-detailed-hw-info-div);
    text-align: center;
    font-size: var(--font-size-14pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey);
}

.first-label
{
    left: var(--left-first-label);
}

.second-label
{
    left: var(--left-second-label);
}

.third-label
{
    left: var(--left-third-label);
}

.dividers
{
    position: absolute;
}

.dividers > div
{
    display: inline-block;
    position: absolute;
    height: var(--height-dividers-div);
    width: var(--width-dividers-div);
    background: var(--white);
}

.first-divider
{
    left: var(--left-first-divider);
}

.second-divider
{
    left: var(--left-second-divider);
}

.about
{
    position: absolute;
}

.dashboard-logo
{
    position: absolute;
    top: var(--top-dashboard-logo);
    z-index: 1;
    width: var(--width-dashboard-logo);
    text-align: center;
    letter-spacing: var(--letter-spacing-10px);
    font-size: var(--font-size-42pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey-light);
}

.dashboard-logo-description
{
    position: absolute;
    top: var(--top-dashboard-logo-description);
    z-index: 1;
    width: var(--width-dashboard-logo-description);
    text-align: center;
    letter-spacing: var(--letter-spacing-2px);
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey-light);
}

.dashboard-logo-background
{
    position: absolute;
    top: 0;
    height: var(--height-dashboard-logo-background);
    width: var(--width-dashboard-logo-background);
}

.uptime
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--height-uptime);
    width: var(--width-uptime);
    background: var(--linear-gradient-uptime);
}

.uptime-squares-grid
{
    position: relative;
    bottom: var(--bottom-uptime-squares-grid);
    left: var(--left-uptime-squares-grid);
}

.uptime-squares-grid > div
{
    display: inline-block;
    margin-right: var(--margin-right-uptime-squares-grid-div);
    height: var(--height-uptime-squares-grid-div);
    width: var(--width-uptime-squares-grid-div);
    box-shadow: var(--box-shadow-uptime-squares-grid-div) var(--black-opacity-10);
}

.uptime-rectangle-grid
{
    position: absolute;
    top: var(--top-uptime-rectangle-grid);
    left: var(--left-uptime-rectangle-grid);
}

.values-grid > div
{
    display: inline-block;
    margin-right: var(--margin-right-values-grid-div);
    height: var(--height-values-grid-div);
    width: var(--width-values-grid-div);
    text-align: center;
    font-size: var(--font-size-42pt);
    font-weight: var(--font-weight-bold);
    color: var(--grey);
    background: var(--white-opacity-70);
}

.values-grid > div > p
{
    position: relative;
    bottom: var(--bottom-values-grid-div-p);
}

.labels-grid > div
{
    display: inline-block;
    margin-right: var(--margin-right-labels-grid-div);
    margin-bottom: var(--margin-bottom-labels-grid-div);
    height: var(--height-labels-grid-div);
    width: var(--width-labels-grid-div);
    text-align: center;
    font-size: var(--font-size-9pt);
    font-weight: var(--font-weigth-regular);
    color: var(--grey-light);
    background: var(--white-opacity-90);
}

.chart-label
{
    position: absolute;
    top: var(--top-chart-label);
    left: var(--left-chart-label);
    font-size: var(--font-size-18pt);
    font-weight: var(--font-weight-bold);
    color: var(--black);
}

.chart-triangle-grid
{
    position: absolute;
    top: var(--top-chart-triangle-grid);
}

.chart-triangle-grid > div
{
    position: absolute;
    border-style: solid;
    border-width: var(--border-width-chart-triangle-grid-div);
    opacity: 0;
    animation: fade-in-triangles;
    animation-duration: var(--animation-duration-fade-in-triangles);
    animation-delay: var(--animation-delay-chart-triangle-grid-div);
    animation-fill-mode: forwards;
}

.first-triangle
{
    left: var(--left-first-triangle);
    border-color: var(--blue) transparent;
}

.second-triangle
{
    left: var(--left-second-triangle);
    border-color: var(--red) transparent;
}

.third-triangle
{
    left: var(--left-third-triangle);
    border-color: var(--green) transparent;
}

.chart-rectangle-grid
{
    position: absolute;
    top: var(--top-chart-rectangle-grid);
}

.chart-rectangle-grid > div
{
    display: inline-block;
    position: absolute;
    height: var(--height-chart-rectangle-grid-div);
    width: var(--width-chart-rectangle-grid-div);
    transition: var(--transition-chart-rectangle-grid-div);
    cursor: pointer;
}

.chart-rectangle-grid > div:active
{
    transform: var(--transform-chart-rectangle-grid-div-active);
}

.first-rectangle
{
    left: var(--left-first-rectangle);
    background: var(--blue-light);
}


.second-rectangle
{
    left: var(--left-second-rectangle);
    background: var(--red-light);
}

.third-rectangle
{
    left: var(--left-third-rectangle);
    background: var(--green-light);
}

.chart-container
{
    position: absolute;
    top: var(--top-chart-container);
    left: var(--left-chart-container);
    height: var(--height-chart-container);
    width: var(--width-chart-container);
    overflow: hidden;
    border: var(--border-chart-container) solid var(--grey-light);
}

.error
{
    margin-top: calc((100vh / 2) - (var(--height-error) / 2));
    min-width: var(--min-width-container);
}

.error-gif
{
    display: block;
    position: relative;
    z-index: 1;
    margin: auto;
    height: var(--height-error-gif);
    width: var(--width-error-gif);
    object-fit: cover;
    border-radius: var(--border-radius-error-gif);
    box-shadow: var(--box-shadow-error-gif) var(--black-opacity-10);
}

.error-div
{
    position: relative;
    left: var(--left-error-div);
    z-index: 1;
    height: var(--height-error-div);
    width: var(--width-error-div);
    opacity: 0;
    border-radius: var(--border-radius-error-div);
    background: var(--white);
    box-shadow: var(--box-shadow-error-div) var(--black-opacity-10);
    animation: fade-in-error-div;
    animation-duration: var(--animation-duration-fade-in-error-div);
    animation-fill-mode: forwards;
}

.error-div > div
{
    position: absolute;
}

.error-code
{
    top: var(--top-error-code);
    left: var(--left-error-code);
    font-size: var(--font-size-21pt);
    font-weight: var(--font-weight-bold);
    color: var(--black);
}

.error-title
{
    top: var(--top-error-title);
    left: var(--left-error-title);
    font-size: var(--font-size-31pt);
    font-weight: var(--font-weight-bold);
    color: var(--black);
}

.error-description
{
    top: var(--top-error-description);
    left: var(--left-error-description);
}

.error-description > div
{
    font-size: var(--font-size-13pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey);
}

.error-advice
{
    position: fixed;
    bottom: var(--bottom-error-advice);
    font-size: var(--font-size-11pt);
    font-weight: var(--font-weight-regular);
    color: var(--grey-light);
}

.error-404
{
    left: var(--left-error-404);
}

.error-500
{
    left: var(--left-error-500);
}

/* Utility classes */
.blue-light
{
    background: var(--blue-light);
}

.blue
{
    background: var(--blue);
}

.red-light
{
    background: var(--red-light);
}

.red
{
    background: var(--red);
}

.green-light
{
    background: var(--green-light);
}

.green
{
    background: var(--green);
}