<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" id = "html" th:attr = "theme = ${theme}">
    <head>
        <title>Ward</title>
        <meta charset = "utf-8" />
        <link rel = "stylesheet" th:href = "@{/css/assets/bootstrap.min.css}" />
        <link rel = "stylesheet" th:href = "@{/css/animations.css}" />
        <link rel = "stylesheet" th:href = "@{/css/colors.css}" />
        <link rel = "stylesheet" th:href = "@{/css/dimensions.css}" />
        <link rel = "stylesheet" th:href = "@{/css/fonts.css}" />
        <link rel = "stylesheet" th:href = "@{/css/gradients.css}" />
        <link rel = "stylesheet" th:href = "@{/css/layout.css}" />
        <link rel = "stylesheet" th:href = "@{/css/shadows.css}" />
        <link rel = "stylesheet" th:href = "@{/css/themes.css}" />
        <script type = "text/javascript" th:src = "@{/js/assets/chart.min.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/assets/three.min.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/assets/vanta.min.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/background.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/chart.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/globals.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/labels.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/tick.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/uptime.js}"></script>
        <script type = "text/javascript" th:inline = "javascript"> globalsInitialization(); </script>
    </head>
    <body id = "background">
        <script type = "text/javascript" th:inline = "javascript"> backgroundInitialization(); </script>
        <div class = "container index">
            <div class = "row">
                <div class = "col-6 col-lg-6 col-xl-4">
                    <div class = "card">
                        <div class = "header">
                            <div class = "hw-logo first"></div>
                            <div class = "label-hw-info">
                                <div class = "hw-type">Processor</div>
                                <div class = "hw-name" th:text = "${infoDto.processorDto.processorName}"></div>
                            </div>
                        </div>
                        <div class = "usage">
                            <div class = "card-body-squares-grid first">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class = "main-hw-info">
                                <div class = "hw-usage">
                                    <div class = "usage-value">
                                        <span id = "processor-hundreds" class = "first-span">0</span>
                                        <span id = "processor-tens" class = "second-span">0</span>
                                        <span id = "processor-ones" class = "third-span">0</span>
                                    </div>
                                    <div class = "usage-postfix">%</div>
                                </div>
                                <p class = "info-label">PROCESSOR USAGE</p>
                                <div class = "usage-underline first"></div>
                            </div>
                        </div>
                        <div class = "footer first">
                            <div class = "card-footer-dots-grid">
                                <div class = "first-dot">
                                    <div class = "inner-dot"></div>
                                </div>
                                <div class = "second-dot">
                                    <div class = "inner-dot"></div>
                                </div>
                                <div class = "third-dot">
                                    <div class = "inner-dot"></div>
                                </div>
                            </div>
                            <div class = "detailed-hw-info">
                                <div class = "first-label" th:text = "${infoDto.processorDto.coreCount}"></div>
                                <div class = "second-label" th:text = "${infoDto.processorDto.maxClockSpeed}"></div>
                                <div class = "third-label" th:text = "${infoDto.processorDto.processorBitDepth}"></div>
                            </div>
                            <div class = "dividers">
                                <div class = "first-divider"></div>
                                <div class = "second-divider"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-6 col-lg-6 col-xl-4">
                    <div class = "card">
                        <div class = "header">
                            <div class = "hw-logo second"></div>
                            <div class = "label-hw-info">
                                <div class = "hw-type">Machine</div>
                                <div class = "hw-name" th:text = "${infoDto.machineDto.operatingSystemInfo}"></div>
                            </div>
                        </div>
                        <div class = "usage">
                            <div class = "card-body-squares-grid second">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class = "main-hw-info">
                                <div class = "hw-usage">
                                    <div class = "usage-value">
                                        <span id = "ram-hundreds" class = "first-span">0</span>
                                        <span id = "ram-tens" class = "second-span">0</span>
                                        <span id = "ram-ones" class = "third-span">0</span>
                                    </div>
                                    <div class = "usage-postfix">%</div>
                                </div>
                                <p class = "info-label">RAM USAGE</p>
                                <div class = "usage-underline second"></div>
                            </div>
                        </div>
                        <div class = "footer second">
                            <div class = "card-footer-dots-grid">
                                <div class = "first-dot">
                                    <div class = "inner-dot"></div>
                                </div>
                                <div class = "second-dot">
                                    <div class = "inner-dot"></div>
                                </div>
                                <div class = "third-dot">
                                    <div class = "inner-dot"></div>
                                </div>
                            </div>
                            <div class = "detailed-hw-info">
                                <div class = "first-label" th:text = "${infoDto.machineDto.totalRam}"></div>
                                <div class = "second-label" th:text = "${infoDto.machineDto.ramType}"></div>
                                <div class = "third-label" th:text = "${infoDto.machineDto.procCount}"></div>
                            </div>
                            <div class = "dividers">
                                <div class = "first-divider"></div>
                                <div class = "second-divider"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-6 col-lg-6 col-xl-4">
                    <div class = "card">
                        <div class = "header">
                            <div class = "hw-logo third"></div>
                            <div class = "label-hw-info">
                                <div class = "hw-type">Storage</div>
                                <div class = "hw-name" th:text = "${infoDto.storageDto.storageName}"></div>
                            </div>
                        </div>
                        <div class = "usage">
                            <div class = "card-body-squares-grid third">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class = "main-hw-info">
                                <div class = "hw-usage">
                                    <div class = "usage-value">
                                        <span id = "storage-hundreds" class = "first-span">0</span>
                                        <span id = "storage-tens" class = "second-span">0</span>
                                        <span id = "storage-ones" class = "third-span">0</span>
                                    </div>
                                    <div class = "usage-postfix">%</div>
                                </div>
                                <div class = "info-label">STORAGE USAGE</div>
                                <div class = "usage-underline third"></div>
                            </div>
                        </div>
                        <div class = "footer third">
                            <div class = "card-footer-dots-grid">
                                <div class = "first-dot">
                                    <div class = "inner-dot"></div>
                                </div>
                                <div class = "second-dot">
                                    <div class = "inner-dot"></div>
                                </div>
                                <div class = "third-dot">
                                    <div class = "inner-dot"></div>
                                </div>
                            </div>
                            <div class = "detailed-hw-info">
                                <div class = "first-label" th:text = "${infoDto.storageDto.totalStorage}"></div>
                                <div class = "second-label" th:text = "${infoDto.storageDto.diskCount}"></div>
                                <div class = "third-label" th:text = "${infoDto.storageDto.swapAmount}"></div>
                            </div>
                            <div class = "dividers">
                                <div class = "first-divider"></div>
                                <div class = "second-divider"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type = "text/javascript" th:inline = "javascript"> labelsInitialization(); </script>
                <div class = "col-6 col-lg-6 col-xl-4">
                    <div class = "card">
                        <div class = "uptime-about">
                            <div class = "uptime-dashboard-logo">WARD</div>
                            <div class = "uptime-dashboard-logo-description">SERVER DASHBOARD</div>
                            <img class = "uptime-dashboard-logo-background" th:src = @{/img/logo/background.jpg} />
                        </div>
                        <div class = "uptime">
                            <div class = "uptime-squares-grid">
                                <div class = "first"></div>
                                <div class = "second"></div>
                                <div class = "third"></div>
                            </div>
                            <div class = "uptime-rectangle-grid">
                                <div class = "values-grid">
                                    <div><p id = "uptime-days" th:text = "${infoDto.uptimeDto.days}"></p></div>
                                    <div><p id = "uptime-hours" th:text = "${infoDto.uptimeDto.hours}"></p></div>
                                    <div><p id = "uptime-minutes" th:text = "${infoDto.uptimeDto.minutes}"></p></div>
                                    <div><p id = "uptime-seconds" th:text = "${infoDto.uptimeDto.seconds}"></p></div>
                                </div>
                                <script type = "text/javascript" th:inline = "javascript"> uptimeInitialization(); </script>
                                <div class = "labels-grid">
                                    <div>DAYS</div>
                                    <div>HOURS</div>
                                    <div>MINUTES</div>
                                    <div>SECONDS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-12 col-lg-12 col-xl-8">
                    <div class = "card">
                        <div class = "chart-label">% Utilization</div>
                        <div class = "chart-triangle-grid">
                            <div id = "processor-triangle" class = "first-triangle"></div>
                            <div id = "ram-triangle" class = "second-triangle"></div>
                            <div id = "storage-triangle" class = "third-triangle"></div>
                        </div>
                        <div class = "chart-rectangle-grid">
                            <div id = "processor-rectangle" class = "first-rectangle"></div>
                            <div id = "ram-rectangle" class = "second-rectangle"></div>
                            <div id = "storage-rectangle" class = "third-rectangle"></div>
                        </div>
                        <div class = "chart-container">
                            <canvas id = "chart-body"></canvas>
                        </div>
                        <script type = "text/javascript" th:inline = "javascript"> chartInitialization(); </script>
                    </div>
                    <div class = "server-name text-center" th:text = "${infoDto.settingsDto.serverName}"></div>
                </div>
            </div>
        </div>
        <script type = "text/javascript" th:inline = "javascript"> tickInitialization(); </script>
    </body>
</html>