<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" id = "html" theme = "light">
    <head>
        <title>Welcome</title>
        <meta charset = "utf-8" />
        <link rel = "shortcut icon" th:href = "@{/img/ico/favicon.ico}" type = "image/x-icon" />
        <link rel = "stylesheet" th:href = "@{/css/assets/bootstrap.min.css}" />
        <link rel = "stylesheet" th:href = "@{/css/assets/dhtmlx.min.css}" />
        <link rel = "stylesheet" th:href = "@{/css/animations.css}" />
        <link rel = "stylesheet" th:href = "@{/css/colors.css}" />
        <link rel = "stylesheet" th:href = "@{/css/dimensions.css}" />
        <link rel = "stylesheet" th:href = "@{/css/fonts.css}" />
        <link rel = "stylesheet" th:href = "@{/css/gradients.css}" />
        <link rel = "stylesheet" th:href = "@{/css/layout.css}" />
        <link rel = "stylesheet" th:href = "@{/css/shadows.css}" />
        <link rel = "stylesheet" th:href = "@{/css/themes.css}" />
        <script type = "text/javascript" th:src = "@{/js/assets/dhtmlx.min.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/assets/three.min.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/assets/vanta.min.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/background.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/globals.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/setup.js}"></script>
        <script type = "text/javascript" th:inline = "javascript"> globalsInitialization(); </script>
    </head>
    <body id = "background">
        <script type = "text/javascript" th:inline = "javascript"> backgroundInitialization(); </script>
        <div class = "container setup">
            <div class = "setup-div">
                <div class = "logo">WARD</div>
                <div class = "logo-description">SERVER DASHBOARD</div>
                <div class = "clouds">
                    <img class = "cloud-left" th:src = @{/img/logo/clouds/left.png} />
                    <img class = "cloud-right" th:src = @{/img/logo/clouds/right.png} />
                </div>
                <img class = "background" th:src = @{/img/logo/background.png} />
                <div class = "form">
                    <div class = "form-squares-grid">
                        <div class = "first"></div>
                        <div class = "second"></div>
                        <div class = "third"></div>
                    </div>
                    <div>
                        <div class = "label-main-settings">MAIN SETTINGS</div>
                        <div class = "form-field">
                            <input id = "server-name" type = "text" placeholder = "Server Name" />
                            <div class = "form-field-underline"></div>
                        </div>
                    </div>
                    <div class = "additional-settings">
                        <div class = "label-additional-settings">ADDITIONAL SETTINGS</div>
                        <div class = "button-squares-grid">
                            <div id = "light-theme-square" class = "first"></div>
                            <div id = "dark-theme-square" class = "second"></div>
                        </div>
                        <span class = "tooltip">ytyrty</span>
                        <input id = "light-theme" class = "theme-button first" type = "button" value = "LIGHT THEME" />
                        <input id = "dark-theme" class = "theme-button second" type = "button" value = "DARK THEME" />
                        <div class = "port-text-field">
                            <input id = "port" type = "number" placeholder = "Application Port" />
                        </div>
                    </div>
                    <input id = "submit" class = "submit-button" type = "button" value = "LAUNCH" />
                </div>
            </div>
        </div>
        <script type = "text/javascript" th:inline = "javascript"> setupInitialization(); </script>
    </body>
</html>